/* stylelint-disable selector-class-pattern */
/* stylelint-disable media-feature-range-notation */
:root {
    --main-bg: #0F1118;
    --text-dark: #989CAC;
    --main-color: #FF455B;
    --text-white: #FFF;
    --text: #26272C;
    --first-gradient: #FF455B;
    --second-gradient: #FF7245;
}

.main-color {
    color: var(--main-color);
}

.card__btn {
    text-transform: capitalize; 

    background-color: transparent; 
    border: 1px solid var(--text-white);
}

.card__btn:hover {
    color: var(--text-white);
    
    background-image: linear-gradient(to right, var(--first-gradient) 0%, var(--second-gradient) 51%, var(--main-color) 100%);
}

.item-text::before {
    margin-right: 10px;

    color: var(--main-color);
    
    content: '\2713';
}

.card-text {
    line-height: 1.6;
}

@media screen and (max-width: 769px) {
    .cases-black {
        font-size: 4rem;
    }

    .heading__body h2 {
        font-size: 2rem;
    }

    .text {
        font-size: .8rem;
        line-height: 1.6;
    }
  
  }