:root {
  --main-bg: #0f1118;
  --text-dark: #989cac;
  --main-color: #ff455b;
  --text-white: #fff;
  --text: #26272c;
  --first-gradient: #ff455b;
  --second-gradient: #ff7245;
}

/* what we do */

.number {
  color: var(--main-color);
  font-weight: 500;
  font-size: 2.6rem;
}

/* digital */

.cases-white {
  font-size: 3.6rem;
}

.cases-black {
  font-size: 2.6rem;
}

/* why us */

.item-text::before {
  margin-right: 10px;

  color: var(--main-color);

  content: "\2713";
}

@media screen and (max-width: 769px) {

  .cards .card-title {
    font-size: 1.2rem;
  }

  .number, 
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .number {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
  }

  .cases-white,
  .cases-black {
    font-size: 4rem;
  }

}
